<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3SpVTD2tBbzTplwLSkwO2jlIAYA9L2BQ</string>
	<key>GCM_SENDER_ID</key>
	<string>465590336838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBaseCleanArchitecture</string>
	<key>PROJECT_ID</key>
	<string>lettutor-d58f0</string>
	<key>STORAGE_BUCKET</key>
	<string>lettutor-d58f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465590336838:ios:9865b05f6b9f097f9ff947</string>
</dict>
</plist>